<% edit ||= false %>
<div class="unit-card">
<%=  warcraft_unit.name %><br>
<%= "Buff: " + (warcraft_unit&.buff || "No buff")%><br>
<%= link_to "Edit", edit_warcraft_unit_path(warcraft_unit) if edit %><br><br>
</div>