<h2> Units <%= "for #{@roster.name}" if @roster %></h2>
<ol>
  <%= render partial: "tft_unit", collection: @units %>
</ol>
<%= link_to "Add new unit", new_roster_team_fight_tactics_unit_path(@roster) %><br>
<%= link_to "Back to Roster", roster_path(@roster)%>